---
import type { FiresideChatStoryblok } from "@storyblok/types";
import type { StoryblokStory } from "@/services/storyblok/schemas";
import { parseAsset } from "@/services/storyblok/utils/parse-asset";
import type { Prettify } from "@/types";
import { storyblokEditable, type SbBlokData } from "@storyblok/astro";

type Props = {
  story: Prettify<StoryblokStory<FiresideChatStoryblok>>;
};

const {
  story: {
    full_slug,
    content: {
      blurb,
      dateLastModified,
      datePublished,
      embed,
      thumbnail,
      title,
      watchTime,
    },
  },
} = Astro.props;
---

<a
  href={`/${full_slug}`}
  {...storyblokEditable(Astro.props.story.content as SbBlokData)}
>
  <img src={parseAsset(thumbnail, "src")} alt={parseAsset(thumbnail, "alt")} />
  <h2>{title}</h2>
  <p>{blurb}</p>
  <p>{watchTime}</p>
</a>
