<div
  data-us-project-src={"/webgl-animation.json"}
  data-us-scale="1"
  data-us-dpi="1.5"
  data-us-lazyload="true"
  data-us-production="true"
  data-us-fps="60"
  data-us-alttext="Hero background animation"
  data-us-arialabel="Decorative animated background"
  class="unicorn-embed"
>
</div>

<style>
  .unicorn-embed {
    width: 100%;
    height: 100%;
    min-height: 100vh;
  }
</style>

<script type="text/javascript">
  !(function () {
    if (!window.UnicornStudio) {
      window.UnicornStudio = { isInitialized: !1 };
      var i = document.createElement("script");
      (i.src =
        "https://cdn.jsdelivr.net/gh/hiunicornstudio/unicornstudio.js@v1.4.20/dist/unicornStudio.umd.js"),
        (i.onload = function () {
          window.UnicornStudio.isInitialized ||
            (UnicornStudio.init(), (window.UnicornStudio.isInitialized = !0));
        }),
        (document.head || document.body).appendChild(i);
    }
  })();
</script>
