---
import type { MainHeroStoryblok } from "../../../storyblok/types";
import { parseAsset } from "../../services/storyblok/helpers";
import type { Prettify } from "../../types";
import Link from "../ui/link.astro";
import { storyblokEditable, type SbBlokData } from "@storyblok/astro";
type Props = {
  blok: Prettify<MainHeroStoryblok>;
};

const {
  blok: { title, subtitle, media, ctas, bannerStars, bannerText, showBanner },
} = Astro.props;
---

<div {...storyblokEditable(Astro.props.blok as SbBlokData)}>
  <h2>{title}</h2>
  <p>{subtitle}</p>
  <img src={parseAsset(media, "src")} alt={parseAsset(media, "alt")} />
  <div>
    {ctas?.map((cta) => <Link blok={cta} />)}
  </div>
  {
    showBanner && bannerStars && bannerText && (
      <div>
        <p>{bannerText}</p>
        {parseInt(bannerStars) / 5}
      </div>
    )
  }
</div>
