---
import type { LeftRightImageBenefitStoryblok } from "@storyblok/types";
import type { Prettify } from "@/types";
import { storyblokEditable, type SbBlokData } from "@storyblok/astro";
import BodyText from "@/components/ui/body-text.astro";
import Icon from "@/components/ui/icon.astro";

type Props = {
  blok: Prettify<LeftRightImageBenefitStoryblok>;
};

const {
  blok: { icon, text },
  blok,
} = Astro.props;
---

<div
  class="mb-3 flex items-center last:mb-0 md:mb-6"
  {...storyblokEditable(blok as SbBlokData)}
>
  <!-- Icon -->
  <div class="mt-1.5 mr-4 h-8 w-8 flex-shrink-0 text-white">
    <Icon icon={icon} />
  </div>

  <!-- Text -->
  <BodyText size="l" class="text-text-000 font-medium">
    {text}
  </BodyText>
</div>
