---
import type { LeftRightImageBenefitStoryblok } from "../../../storyblok/types";
import { parseAsset } from "../../services/storyblok/helpers";
import type { Prettify } from "../../types";

type Props = {
  blok: Prettify<LeftRightImageBenefitStoryblok>;
};

const {
  blok: { icon, text },
} = Astro.props;
---

<div>
  <img src={parseAsset(icon, "src")} alt={parseAsset(icon, "alt")} />
  <p>{text}</p>
</div>
