---
import type { LeftRightImageStoryblok } from "@storyblok/types";
import { parseAsset } from "@/services/storyblok/helpers";
import type { Prettify } from "@/types";
import LeftRightImageBenefit from "./benefit.astro";
import { storyblokEditable, type SbBlokData } from "@storyblok/astro";

type Props = {
  blok: Prettify<LeftRightImageStoryblok>;
};

const {
  blok: { title, description, benefits, media, reverse, style },
} = Astro.props;
---

<div {...storyblokEditable(Astro.props.blok as SbBlokData)}>
  <div>
    <img src={parseAsset(media, "src")} alt={parseAsset(media, "alt")} />
  </div>
  <div>
    <h2>{title}</h2>
    <p>{description}</p>
    <div>
      {benefits?.map((benefit) => <LeftRightImageBenefit blok={benefit} />)}
    </div>
  </div>
</div>
