---
import type { ScrollingFeatureStoryblok } from "../../../storyblok/types";
import { parseAsset } from "../../services/storyblok/helpers";
import type { Prettify } from "../../types";

type Props = {
  blok: Prettify<ScrollingFeatureStoryblok>;
};

const {
  blok: { title, description, media },
} = Astro.props;
---

<div>
  <h2>{title}</h2>
  <p>{description}</p>
  <img src={parseAsset(media, "src")} alt={parseAsset(media, "alt")} />
</div>
