---
import type { ScrollingFeatureStoryblok } from "@storyblok/types";
import { parseAsset } from "@/services/storyblok/helpers";
import type { Prettify } from "@/types";
import { storyblokEditable, type SbBlokData } from "@storyblok/astro";
type Props = {
  blok: Prettify<ScrollingFeatureStoryblok>;
};

const {
  blok: { title, description, media },
} = Astro.props;
---

<div {...storyblokEditable(Astro.props.blok as SbBlokData)}>
  <h2>{title}</h2>
  <p>{description}</p>
  <img src={parseAsset(media, "src")} alt={parseAsset(media, "alt")} />
</div>
