---
import type { ContactUsStoryblok } from "@storyblok/types";
import type { Prettify } from "@/types";
import { storyblokEditable, type SbBlokData } from "@storyblok/astro";
type Props = {
  blok: Prettify<ContactUsStoryblok>;
};

const {
  blok: { title, subtitle },
} = Astro.props;
---

<div {...storyblokEditable(Astro.props.blok as SbBlokData)}>
  <h2>{title}</h2>
  <p>{subtitle}</p>
</div>
