---
import type { CtaSectionStoryblok } from "@storyblok/types";
import { parseAsset } from "@/services/storyblok/helpers";
import type { Prettify } from "@/types";
import Link from "./ui/link.astro";
import { storyblokEditable, type SbBlokData } from "@storyblok/astro";
type Props = {
  blok: Prettify<CtaSectionStoryblok>;
};

const {
  blok: { image, title, description, cta },
} = Astro.props;
---

<div {...storyblokEditable(Astro.props.blok as SbBlokData)}>
  {
    image && (
      <img src={parseAsset(image, "src")} alt={parseAsset(image, "alt")} />
    )
  }
  <h2>{title}</h2>
  <p>{description}</p>
  <div>
    {cta?.map((cta) => <Link blok={cta} />)}
  </div>
</div>
