---
import type { CtaSectionStoryblok } from "../../storyblok/types";
import { parseAsset } from "../services/storyblok/helpers";
import type { Prettify } from "../types";
import Link from "./ui/link.astro";

type Props = {
  blok: Prettify<CtaSectionStoryblok>;
};

const {
  blok: { image, title, description, cta },
} = Astro.props;
---

<div>
  {
    image && (
      <img src={parseAsset(image, "src")} alt={parseAsset(image, "alt")} />
    )
  }
  <h2>{title}</h2>
  <p>{description}</p>
  <div>
    {cta?.map((cta) => <Link blok={cta} />)}
  </div>
</div>
