---
import type { FooterStoryblok } from "@storyblok/types";
import { storyblokEditable, type SbBlokData } from "@storyblok/astro";
import type { Prettify } from "@/types";
import Link from "./ui/link.astro";
type Props = {
  blok: Prettify<FooterStoryblok>;
};
const {
  blok: { linkColumns },
} = Astro.props;
---

<footer
  class="grid grid-cols-1 gap-4 bg-gray-100 p-8 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
  {...storyblokEditable(Astro.props.blok as SbBlokData)}
>
  {
    linkColumns?.map((column) => (
      <div class="flex flex-col gap-2">
        {column.links?.map((link) => {
          return <Link blok={link} />;
        })}
      </div>
    ))
  }
</footer>
