---
import type { TestimonialStoryblok } from "../../storyblok/types";
import type { Prettify } from "../types";
import { storyblokEditable, type SbBlokData } from "@storyblok/astro";
import { parseAsset } from "../services/storyblok/helpers";

type Props = {
  blok: Prettify<TestimonialStoryblok>;
};

const {
  blok: { quote, author, authorRoleCompany, authorHeadshot },
} = Astro.props;
---

<div {...storyblokEditable(Astro.props.blok as SbBlokData)}>
  <p>{quote}</p>
  <p>{author}</p>
  <p>{authorRoleCompany}</p>
  {
    authorHeadshot && (
      <img
        src={parseAsset(authorHeadshot, "src")}
        alt={parseAsset(authorHeadshot, "alt")}
      />
    )
  }
</div>
