---
import type { TestimonialStoryblok } from "@storyblok/types";
import type { Prettify } from "@/types";
import { storyblokEditable, type SbBlokData } from "@storyblok/astro";
import Heading from "@/components/ui/heading.astro";
import Label from "@/components/ui/label.astro";
import BodyText from "@/components/ui/body-text.astro";
import Media from "@/components/ui/media.astro";

type Props = {
  blok: Prettify<TestimonialStoryblok>;
};

const {
  blok: { quote, author, authorRoleCompany, authorHeadshot },
  blok,
} = Astro.props;
---

<div class="px-6 pb-6 md:px-8 lg:pb-12">
  <section
    class="bg-surface-sky rounded-2xl py-24 md:py-32"
    {...storyblokEditable(blok as SbBlokData)}
  >
    <div class="container mx-auto max-w-5xl px-6 md:px-8">
      <div class="flex flex-col items-center">
        <!-- Quote -->
        <Heading
          level="xxl"
          class="mx-auto mb-16 max-w-4xl text-center text-balance"
        >
          {quote}
        </Heading>

        <!-- Author Information -->
        <div class="flex flex-row items-center gap-4">
          <!-- Author Headshot -->
          {
            authorHeadshot && (
              <div class="h-12 w-12 overflow-hidden rounded-full md:h-16 md:w-16">
                <Media
                  asset={authorHeadshot}
                  width={96}
                  height={96}
                  class="h-full w-full object-cover"
                />
              </div>
            )
          }

          <div class="flex h-full flex-col">
            <!-- Author Name -->
            <Label size="l" weight="semibold">
              {author}
            </Label>

            <!-- Author Role & Company -->
            <BodyText size="m" class="text-text-500">
              {authorRoleCompany}
            </BodyText>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
