---
const { env } = Astro.locals.runtime;
const siteName = env.SITE_NAME;
---

<div class="flex h-screen items-center justify-center bg-gray-100">
  <h1 class="max-w-xl p-8 text-center text-2xl font-bold text-gray-800">
    Welcome to {siteName}! Please refer to the <code>README.md</code> file for setup
    instructions and project details.
  </h1>
</div>
