---
import type { StatsStoryblok } from "@storyblok/types";
import type { Prettify } from "@/types";
import Stat from "./stat.astro";
import { storyblokEditable, type SbBlokData } from "@storyblok/astro";
import Heading from "@/components/ui/heading.astro";
import BodyText from "@/components/ui/body-text.astro";

type Props = {
  blok: Prettify<StatsStoryblok>;
};

const {
  blok: { title, subtitle, stats },
} = Astro.props;
---

<div class="p-4 md:p-6">
  <section
    class="bg-dark-right py-24 sm:py-32"
    {...storyblokEditable(Astro.props.blok as SbBlokData)}
  >
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mb-16 grid grid-cols-1 gap-10 lg:grid-cols-2">
        <div>
          <Heading level="xl" class="text-text-000 max-w-xl">
            {title}
          </Heading>
        </div>
        <div class="flex items-center">
          <BodyText size="l" class="text-text-000 max-w-lg opacity-80">
            {subtitle}
          </BodyText>
        </div>
      </div>

      <div
        class="mt-16 flex flex-col justify-center divide-y divide-white/20 xl:flex-row xl:divide-x xl:divide-y-0"
      >
        {stats.map((stat, index) => <Stat blok={stat} />)}
      </div>
    </div>
  </section>
</div>
