---
import type { StatsStoryblok } from "@storyblok/types";
import type { Prettify } from "@/types";
import Stat from "./stat.astro";
import { storyblokEditable, type SbBlokData } from "@storyblok/astro";
type Props = {
  blok: Prettify<StatsStoryblok>;
};

const {
  blok: { title, subtitle, stats },
} = Astro.props;
---

<div {...storyblokEditable(Astro.props.blok as SbBlokData)}>
  <h2>{title}</h2>
  <p>{subtitle}</p>
  <div>
    {stats.map((stat) => <Stat blok={stat} />)}
  </div>
</div>
