---
import type { StatStoryblok } from "@storyblok/types";
import type { Prettify } from "@/types";
import { storyblokEditable, type SbBlokData } from "@storyblok/astro";
type Props = {
  blok: Prettify<StatStoryblok>;
};

const {
  blok: { text, caption },
} = Astro.props;
---

<div {...storyblokEditable(Astro.props.blok as SbBlokData)}>
  <p>{text}</p>
  <p>{caption}</p>
</div>
