---
import type { BentoGridStoryblok } from "@storyblok/types";
import type { Prettify } from "@/types";
import BentoGridItem from "./item.astro";
import { storyblokEditable, type SbBlokData } from "@storyblok/astro";
type Props = {
  blok: Prettify<BentoGridStoryblok>;
};

const {
  blok: { title, items },
} = Astro.props;
---

<div {...storyblokEditable(Astro.props.blok as SbBlokData)}>
  <h2>{title}</h2>
  <div>
    {items.map((item) => <BentoGridItem blok={item} />)}
  </div>
</div>
