---
import type { BentoGridStoryblok } from "@storyblok/types";
import type { Prettify } from "@/types";
import BentoGridItem from "./item.astro";
import { storyblokEditable, type SbBlokData } from "@storyblok/astro";
import Label from "@/components/ui/label.astro";
import Heading from "../ui/heading.astro";

type Props = {
  blok: Prettify<BentoGridStoryblok>;
};

const {
  blok,
  blok: { title, items },
} = Astro.props;
---

<div class="pt-6 pb-16 md:pb-20" {...storyblokEditable(blok as SbBlokData)}>
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    {
      title && (
        <div class="mb-12 text-center md:mb-16">
          <Heading level="l" as="h2">
            {title}
          </Heading>
        </div>
      )
    }
    <div
      class="mt-10 flex auto-rows-fr flex-col gap-4 sm:mt-16 lg:grid lg:grid-cols-3 lg:grid-rows-2"
    >
      {
        items.map((item, index) => (
          <BentoGridItem
            blok={item}
            itemIndex={index}
            totalItems={items.length}
          />
        ))
      }
    </div>
  </div>
</div>
