---
import type { BentoGridItemStoryblok } from "../../../storyblok/types";
import { parseAsset } from "../../services/storyblok/helpers";
import type { Prettify } from "../../types";
type Props = {
  blok: Prettify<BentoGridItemStoryblok>;
};

const {
  blok: { title, description, asset },
} = Astro.props;
---

<div>
  <h2>{title}</h2>
  <p>{description}</p>
  <img src={parseAsset(asset, "src")} alt={parseAsset(asset, "alt")} />
</div>
