---
import type {
  ArticleListingsStoryblok,
  ArticleStoryblok,
} from "@storyblok/types";
import { getStories } from "@/services/storyblok/helpers";
import type { Prettify } from "@/types";
import ArticleListing from "./item.astro";
import { storyblokEditable, type SbBlokData } from "@storyblok/astro";
type Props = {
  blok: Prettify<ArticleListingsStoryblok>;
};

const param = Astro.url.searchParams.get("page");

const { stories: articles, total } = await getStories<ArticleStoryblok>({
  contentType: "article",
  version: import.meta.env.CONTENT_VERSION,
  per_page: 9,
  page: param ? Number.parseInt(param) : 1,
});

const {
  blok: { title, subtitle },
} = Astro.props;
---

<div {...storyblokEditable(Astro.props.blok as SbBlokData)}>
  <h2>{title}</h2>
  <p>{subtitle}</p>

  <div>
    {articles.map((article) => <ArticleListing story={article} />)}
  </div>
</div>
