---
import type { LinkDropdownStoryblok } from "@storyblok/types";
import { cn } from "@/utils/cn";
import MobileLinkItem from "./mobile-link-item.astro";

interface Props {
  item: LinkDropdownStoryblok;
}

const { item } = Astro.props as Props;
---

<div class={cn("border-b pb-4", "border-gray-200")}>
  <div class={cn("mb-3 font-medium", "text-gray-800")}>
    {item.dropdownTitle}
  </div>
  <div class="flex flex-col gap-2 pl-4">
    {
      item.links?.map((dropdownLink: any) => (
        <MobileLinkItem blok={dropdownLink} />
      ))
    }
  </div>
</div>
