---
import type { LinkDropdownStoryblok } from "@storyblok/types";
import { cn } from "@/utils/cn";
import MobileLinkItem from "./mobile-link-item.astro";
import Label from "@/components/ui/label.astro";

interface Props {
  item: LinkDropdownStoryblok;
}

const { item } = Astro.props as Props;
---

<div>
  <div class="pb-4">
    <Label size="s" weight="semibold" class={cn("text-text-500")}>
      {item.dropdownTitle}
    </Label>
  </div>
  <div class="flex flex-col gap-y-4.5">
    {
      item.links?.map((dropdownLink: any) => (
        <MobileLinkItem blok={dropdownLink} />
      ))
    }
  </div>
</div>
