---
import type { LinkStoryblok } from "@storyblok/types";
import Link from "@/components/ui/link.astro";
import { cn } from "@/utils/cn";

interface Props {
  blok: LinkStoryblok;
}

const { blok } = Astro.props as Props;
---

<div
  class={cn(
    "rounded-lg p-2 transition-colors duration-150",
    "hover:bg-gray-100",
  )}
>
  <Link blok={blok} />
</div>
