---
import { SEO } from "astro-seo";
import { Font } from "astro:assets";
import { ClientRouter } from "astro:transitions";
import { getGlobals } from "../services/storyblok/get-globals";
import "@/styles/global.css";
import Navigation from "@/components/navigation/index.astro";
import Footer from "@/components/footer.astro";
import Spacer from "@/components/ui/spacer.astro";
import CookieConsent from "@/components/cookie-consent/index.astro";

type Props = {
  title?: string;
  description?: string;
  openGraphTitle?: string;
  openGraphImage?: string;
  noIndex?: boolean;
  noFooter?: boolean;
  noNav?: boolean;
};

const { navigationData, footerData, seoDefaults } = await getGlobals(
  import.meta.env.CONTENT_VERSION,
);
const {
  title,
  description,
  openGraphTitle,
  openGraphImage,
  noIndex,
  noFooter,
  noNav,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <Font cssVariable="--font-dm-sans" preload />
    <Font cssVariable="--font-bagos-condensed" preload />
    <ClientRouter />
    <SEO
      title={title ? title : seoDefaults.title}
      description={description ? description : seoDefaults.description}
      noindex={noIndex ?? seoDefaults.noIndex ?? false}
      openGraph={{
        basic: {
          title:
            openGraphTitle ??
            seoDefaults.openGraphTitle ??
            title ??
            seoDefaults.title,
          image:
            openGraphImage ??
            seoDefaults.openGraphImage?.filename ??
            `${import.meta.env.SITE_URL}/og.png`,
          type: "website",
        },
      }}
      twitter={seoDefaults.twitter
        ? {
            creator: seoDefaults.twitter,
          }
        : undefined}
      extend={{
        link: [
          {
            rel: "icon",
            type: "image/png",
            href: "/favicon/favicon-96x96.png",
            sizes: "96x96",
          },
          { rel: "icon", type: "image/svg+xml", href: "/favicon/favicon.svg" },
          { rel: "shortcut icon", href: "/favicon/favicon.ico" },
          {
            rel: "apple-touch-icon",
            sizes: "180x180",
            href: "/favicon/apple-touch-icon.png",
          },
          { rel: "manifest", href: "/favicon/site.webmanifest" },
        ],
        meta: [
          {
            name: "apple-mobile-web-app-title",
            content: import.meta.env.SITE_NAME,
          },
          { property: "og:site_name", content: import.meta.env.SITE_NAME },
          { name: "theme-color", content: "#000000" },
        ],
      }}
    />
  </head>
  <body>
    {!noNav && <Navigation blok={navigationData} />}
    <slot />
    {!noFooter && <Footer blok={footerData} />}
    <CookieConsent />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: var(--font-dm-sans);
  }
</style>
