---
import type { ArticleStoryblok } from "@storyblok/types";
import { storyblokEditable, type SbBlokData } from "@storyblok/astro";
import Base from "./base.astro";
import type { Prettify } from "@/types";

type Props = {
  blok: Prettify<ArticleStoryblok>;
};

const {
  blok: { seo },
} = Astro.props;
---

<Base
  title={seo?.[0]?.title}
  description={seo?.[0]?.description}
  openGraphTitle={seo?.[0]?.openGraphTitle}
  noIndex={seo?.[0]?.noIndex}
  openGraphImage={seo?.[0]?.openGraphImage?.filename || undefined}
  noFooter
  noNav
>
  <main {...storyblokEditable(Astro.props.blok as SbBlokData)}></main>
</Base>
