---
import type { FiresideChatStoryblok } from "@storyblok/types";
import { storyblokEditable, type SbBlokData } from "@storyblok/astro";
import Base from "./base.astro";
import type { Prettify } from "@/types";

type Props = {
  blok: Prettify<FiresideChatStoryblok>;
};

const {
  blok: { seo, body },
} = Astro.props;
---

<Base
  title={seo[0].title}
  description={seo[0].description}
  openGraphTitle={seo[0].openGraphTitle}
  noIndex={seo[0].noIndex}
  openGraphImage={seo[0].openGraphImage?.filename &&
  typeof seo[0].openGraphImage?.filename
    ? seo[0].openGraphImage.filename
    : undefined}
>
  <main {...storyblokEditable(Astro.props.blok as SbBlokData)}></main>
</Base>
