---
import type { DropdownLinkStoryblok } from "@storyblok/types";
import DropdownLink from "./dropdown-link.astro";
import { cn } from "@/utils/cn";

interface Props {
  blok: DropdownLinkStoryblok;
  theme?: "transparent" | "white";
}

const { blok }: Props = Astro.props;
---

<div
  class={cn(
    "dropdown-item rounded-md px-3 py-[0.45rem]",
    "transition-colors duration-150 hover:bg-gray-200/80",
  )}
>
  <DropdownLink blok={blok} />
</div>
