---
import type { DropdownLinkStoryblok } from "@storyblok/types";
import DropdownLink from "./dropdown-link.astro";
import { cn } from "@/utils/cn";

interface Props {
  blok: DropdownLinkStoryblok;
  theme?: "transparent" | "white";
}

const { blok, theme = "transparent" }: Props = Astro.props;
---

<div
  class={cn(
    "dropdown-item rounded-md px-3 py-[0.45rem]",
    theme === "transparent"
      ? "transition-colors duration-150 hover:bg-gray-100"
      : "transition-colors duration-150 hover:bg-white/10",
  )}
>
  <DropdownLink blok={blok} />
</div>
