---
import type { LinkStoryblok } from "@storyblok/types";
import Link from "@/components/ui/link.astro";
import { cn } from "@/utils/cn";

interface Props {
  links?: LinkStoryblok[];
  theme?: "transparent" | "white";
}

const { links, theme = "transparent" }: Props = Astro.props;
---

<div class="flex items-center gap-2">
  {links?.map((link: LinkStoryblok) => <Link blok={link} />)}
</div>
