---
import type {
  CustomerStoryListingsStoryblok,
  CustomerStoryStoryblok,
} from "@storyblok/types";
import {
  getStories,
  parseAsset,
  parseLink,
} from "@/services/storyblok/helpers";
import type { Prettify } from "@/types";
import CustomerStoryListing from "./item.astro";
import { storyblokEditable, type SbBlokData } from "@storyblok/astro";
type Props = {
  blok: Prettify<CustomerStoryListingsStoryblok>;
};

const customerStories = await getStories<CustomerStoryStoryblok>({
  contentType: "customerStory",
  version: Astro.locals.runtime.env.CONTENT_VERSION as "draft" | "published",
});

const {
  blok: { title, subtitle },
} = Astro.props;
---

<div {...storyblokEditable(Astro.props.blok as SbBlokData)}>
  <h2>{title}</h2>
  <p>{subtitle}</p>
  <div>
    {customerStories.map((story) => <CustomerStoryListing story={story} />)}
  </div>
</div>
