---
import type { CustomerStoryStoryblok } from "../../../storyblok/types";
import type { StoryblokStory } from "../../services/storyblok/helpers";
import { parseAsset } from "../../services/storyblok/helpers";
import type { Prettify } from "../../types";

type Props = {
  story: Prettify<StoryblokStory<CustomerStoryStoryblok>>;
};

const {
  story: {
    content: { blurb, thumbnail, title },
  },
} = Astro.props;
---

<div>
  <img src={parseAsset(thumbnail, "src")} alt={parseAsset(thumbnail, "alt")} />
  <h2>{title}</h2>
  <p>{blurb}</p>
</div>
