---
import { storyblokEditable, type SbBlokData } from "@storyblok/astro";
import type { IconLinkStoryblok } from "@storyblok/types";
import type { Prettify } from "@/types";
import { parseAsset } from "@/services/storyblok/utils/parse-asset";
import { parseLink } from "@/services/storyblok/utils/parse-link";
import Icon from "@/components/ui/icon.astro";

type Props = {
  blok: Prettify<IconLinkStoryblok>;
  className?: string;
  iconClassName?: string;
};

const {
  blok: { link, icon, iconName },
  className,
  iconClassName,
} = Astro.props;
---

<a
  {...storyblokEditable(Astro.props.blok as SbBlokData)}
  href={parseLink(link, "href")}
  target={parseLink(link, "target")}
  rel="noopener noreferrer"
  class={className}
>
  {
    iconName && typeof iconName === "string" && (
      <Icon icon={iconName} class={iconClassName} />
    )
  }
  {
    icon && (icon.filename || icon.src) && (
      <img
        src={parseAsset(icon, "src")}
        class={iconClassName}
        alt={parseAsset(icon, "alt")}
      />
    )
  }
</a>
