---
import type { LinkStoryblok } from "../../../storyblok/types";
import { parseLink } from "../../services/storyblok/helpers";
import type { Prettify } from "../../types";

type Props = {
  blok: Prettify<LinkStoryblok>;
};

const {
  blok: { link, text, linkStyle },
} = Astro.props;
---

<a href={parseLink(link, "href")} target={parseLink(link, "target")}>
  {text}
</a>
